@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
  font-family: 'Lemon-Milk';
  src: url('../font/LemonMilk.woff2') format('woff2'), url('../font/LemonMilk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', Calibri, sans-serif;
  color: #303941;
}
.remark-slide-content {
  padding: 40px 120px;
  font-size: 25px !important;
}
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
h1 {
  font-family: 'Lemon-Milk', 'Nunito', 'Helvetica Neue', 'Helvetica', Calibri, sans-serif;
  font-weight: 400;
}
.green {
  color: #5fcf80;
}
.subtitle {
  font-size: 31px;
}
